*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundimg{
    background-image: url(../);
    height: 100vh;
    width: 100%;
    background: radial-gradient(#fff, rgb(95, 186, 20))   
}
#form-log{
    display: flex;
    width: 400px;
    height: 500px;
    position: relative;
    background: green;
    border: none;
    border-radius: 15px;
}
#form-log{
    position: absolute;
    justify-content: left;
    margin-left: 80px;
    margin-top: 100px;
    
    
}
.back-img{
    display: flex;
    flex-basis: 50%;
    position: absolute;
    margin-left: 550px;
}
.back-img {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    }
    @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
    }
    @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
    }
#exampleInputEmail1{
    background: green;
    transition: 0.5s;
    border-radius: 15px;
    border: 2px solid #f3f3f3;
    color: #f3f3f3;
}
#exampleInputEmail1:hover{
    background:  rgb(179, 174, 88);
}

#exampleInputPassword1{
    background: green;
    transition: 0.5s;
    border-radius: 15px;
    border: 2px solid #f3f3f3;
    color: #f3f3f3;
}

#exampleInputPassword1:hover{
    background:  rgb(179, 174, 88);
}

.mb-3{
    font-size: 16px;
    font-weight: 400;
    color: #f3f3f3;
    margin-left: 30px;
    margin-top: 40px;
}

.btn{
    margin-left:30px ;
    background: green;

    border-radius: 15px;
    border: 2px solid #f3f3f3;    
}
.btn1{
    background: green;
    padding: 0 30px;
    border: 2px solid #f3f3f3;
    border-radius: 10px;
    margin-left: 120px;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
.btn1:hover{
    background: rgb(179, 174, 88);
}
.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 1200px;
    padding: 0 30px;
    background: black; 
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    color: #ebc51f;
    font-size: 16px;
    font-weight: 500;   
}
.get-started:hover{
    background: rgb(179, 174, 88);
}
#emailHelp{
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    color: #f3f3f3;
}

